@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200);
@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400);
@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600);


body {
    background: #d3d3db;
    padding: 40px;
    font-family: 'Libre Franklin', sans-serif;
}

/* Sign In Form */
#sign-in-wrapper {
    background: white;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 20px 40px;
    box-shadow: 0 0 3px #8c8c8c;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr 8fr 1fr 1fr;
}

#sign-in-wrapper h1 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    grid-column: 1 / span 2;
    color: #495057;
}
#sign-in-wrapper form {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 2fr;
    grid-template-columns: auto auto;
}

.text-inputs {
    width: 100%;
    display: block;
    font-size: 1.15rem;
    font-weight: 200;
    height: 50px;
    padding: 8px 12px;
    outline: none;
    border-color: #c4c4cc;
    border-width: 1.5px;
    border-style: solid;
    grid-column: 1 / 3;
}
#sign-in-wrapper input[type=text] {
    grid-row: 1 / 2;
    align-self: end;
    transition: border-color 0.5s;
}
#sign-in-wrapper input[type=password] {
    grid-row: 3 / 4;
}
#sign-in-wrapper input::placeholder {
    color: #adb5bd;
}
#username-error {
    grid-row: 2 / 3;
    grid-column: span 2;
    color: #9c191b;
    background-color: #fae0e4;
    justify-self: center;
    width: 100%;
    text-align: center;
    font-weight: 400;
    height: 80%;
    display: none;
}
#warning-icon {
    height: 20px;
    width: 20px;
    stroke-width: 1.5px;
    stroke: #9c191b;
    margin-right: 5px;
}

#sign-in-wrapper button {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    outline: none;
    border: none;
    color: white;
    background-color: #0077b6;
    width: 70%;
    justify-self: end;
    align-self: center;
    height: 50px;
}
#keep-signed-in {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
}
#sign-in-wrapper input[type=checkbox] {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

#sign-in-wrapper p {
    text-align: start;
    grid-row: span 1;
    grid-column: 1 / 3;
    color: #0096c7;
}
#sign-in-wrapper p:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*******************************
***** PRODUCT SECTION **********
*******************************/
#log-out {
    position: fixed;
    outline: none;
    border: none;
    color: white;
    background-color: #00a6fb;
    width: 100px;
    height: 50px;
    border-radius: 3px;
}
#product-wrapper {
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(223,223,223,1) 100%);
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    padding: 20px 40px;
    box-shadow: 0 0 3px #8c8c8c;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
#product-section {
    padding-top: 50px;
}
#carousel {
    width: 300px;
    align-self: center;
    justify-self: center;
    border-radius: 3px;
    border: 1px solid #adb5bd;
    margin-top: 100px;
}
#product-wrapper img {
    width: 300px;
    height: auto;
    opacity: 0.8;
}
#product-section h1 {
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
}
#product-wrapper h3 {
    font-weight: 400;
    text-align: start;
    font-size: 1.3rem;
    margin-left: 10px;
}
#product-wrapper h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: start;
    font-size: 1.5rem;
}
#delivery {
    color: #495057;
    font-weight: 200;
    font-size: 1rem;
}
#description {
    text-align: start;
    justify-self: center;
    color: #495057;
    font-weight: 200;
}
#add-to-basket {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 6fr 1fr 1fr 1fr 8fr;
    align-items: center;
    justify-content: start;
    border-color: #c4c4cc;
    border-width: 0;
    border-style: solid;
    height: 80px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 70px;
    box-shadow: 0 0 3px #8c8c8c;
}
#in-stock-icon {
    stroke-width: 1.5px;
    stroke: green;
    height: 30px;
    width: 30px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}
#in-stock {
    justify-self: start;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    color: #495057;
}
.change-basket {
    outline: none;
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    font-size: 1.7rem;
    font-weight: 600;
    align-self: center;
    padding: 0;
    line-height: 30px;
}
#add-number {
    justify-self: center;
    align-self: center;
    margin: 0;
    border: 1px solid #adb5bd;
    color: #adb5bd;
    border-radius: 3px;
    width: 40px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
#add-button {
    height: 80px;
    width: 80%;
    outline: none;
    border: none;
    color: white;
    background-color: #00a6fb;
    padding: 0;
    margin: 0;
    justify-self: end;
    font-weight: 800;
}

#basket {
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 52%, rgba(52,58,64,1) 100%);
    border-radius: 5px;
    width: 90%;
    height: 90%;
    justify-self: end;
    box-shadow: 5px 5px 15px 2px #919191;
    padding: 20px;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 1fr;
}
#basket h1 {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#basket-item {
    border-bottom: 0.5px solid #495057;
    border-top: 0.5px solid #495057;
    padding: 10px 0;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    visibility: hidden;
}
#basket-img {
    border-radius: 1000px;
    height: 70px;
    width: 70px;
    background-image: url("./images/tacos-small.jpeg");
    background-position: center;
    justify-self: start;
    grid-area: 1 / 1 / 3 / 2;
    box-shadow: 0px 0px 5px #919191;
}
#basket-item p {
    color: white;
}
#basket-name {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 0.8rem;
    font-weight: 600;
    align-self: end;
    margin: 0;
    margin-left: 10px;
}
#basket-price {
    grid-area: 2 / 2 / 3 / 3;
    font-weight: 200;
    font-size: 0.8rem;
    margin: 0;
    margin-left: 10px;
}
#basket-amount {
    grid-area: 1 / 3 / 3 / 4;
    justify-self: start;
    align-self: center;
    margin: 0;
    padding: 0;
    border: 1px solid #adb5bd;
    color: black !important;
    background: white;
    border-radius: 3px;
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
#delete-basket {
    grid-area: 1 / 4 / 3 / 5;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
    font-weight: 600;
    outline: none;
    border: none;
    background: none;
    color: white;
}
#subtotal {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 0.5px solid #495057;
}
#total-text {
    letter-spacing: 1px;
    align-self: end;
}
#total-price {
    justify-self: end;
    align-self: end;
}
#go-to-checkout {
    outline: none;
    border: none;
    color: white;
    background-color: #00a6fb;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
}

/************************
***** CHECKOUT **********
************************/

#checkout-wrapper {
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(233,236,239,1) 58%, rgba(222,226,230,1) 100%);
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    padding: 20px 40px;
    box-shadow: 0 0 3px #8c8c8c;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
#checkout-section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    width: 90%;
}
#checkout-section h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
#checkout-item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 2fr 2fr;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #ced4da;
    height: 80px;
    padding: 20px 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 70px;
    height: 150px;
}
#card-details {
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 52%, rgba(52,58,64,1) 100%);
    border-radius: 5px;
    width: 360px;
    height: 630px;
    justify-self: end;
    box-shadow: 5px 5px 15px 2px #919191;
    padding: 40px;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr 1fr;
    grid-template-columns: 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#card-details h1 {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
    grid-row: 1 / 2;
}
.change-checkout {
    outline: none;
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    font-size: 1.7rem;
    font-weight: 600;
    align-self: center;
    padding: 0;
    line-height: 30px;
}
#less-checkout {
    justify-self: end;
}
#more-checkout {
    justify-self: start;
}
#checkout-number {
    justify-self: center;
    align-self: center;
    margin: 0;
    border: 1px solid #adb5bd;
    color: #adb5bd;
    border-radius: 3px;
    width: 40px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
#checkout-item-price {
    justify-self: center;
    align-self: center;
    margin: 0;
    font-weight: 600;
}
#checkout-name {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    font-weight: 600;
    align-self: center;
    line-height: 15px;
}
#product-code {
    font-size: 0.7rem;
    font-weight: 200;
    color: #6c757d;
}
#delete-item {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
    height: 25px;
    width: 25px;
    justify-self: center;
}
#checkout-img {
    border-radius: 1000px;
    height: 100px;
    width: 100px;
    background-image: url("./images/tacos-small.jpeg");
    background-position: center;
    justify-self: start;
    grid-area: 1 / 1 / 3 / 2;
    box-shadow: 0px 0px 5px #919191;
}
#checkout-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#continue-shopping {
    outline: none;
    border: none;
    background: none;
    color: #00a6fb;
    font-weight: 600;
    height: 30px;
    padding: 0;
    margin: 0;
    align-self: end;
    justify-self: start;
}
#back-arrow {
    stroke-width: 1.5px;
    stroke: #6c757d;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}
#checkout-total {
    justify-self: end;
    align-self: end;
    color: #adb5bd;
    font-weight: 600;
    font-size: 0.9rem;
}
#checkout-total-price {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}
#credit-card-box {
    position: relative;
    display: inline;
    right: 100px;
    grid-row: 2 / 3;
    padding: 10px 20px;
    background: #6c757d;
    border-radius: 5px;
    height: 150px;
    width: 250px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 2px 8px #212529;
}
#master-card {
    position: relative;
    display: inline;
    left: 190px;
    bottom: 125px;
}
#card-type-wrapper {
    height: 80px;
}
#card-image-number {
    font-size: 1rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: white;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}
#card-image-number p {
    display: inline;
    margin: 5px;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
}
#cn1 {
    justify-self: start;
}
#cn2, #cn3 {
    justify-self: center;
}
#cn4 {
    justify-self: end;
}
#card-image-name {
    grid-area: 3 / 1 / 4 / 2;
    color: white;
    justify-self: start;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 600;
}
#card-image-date {
    grid-area: 3 / 2 / 4 / 3;
    color: white;
    justify-self: end;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
}
#visa1 {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 90px;
    left: 10px;
}
#visa2 {
    opacity: 0.1;
    align-self: start;
    justify-self: end;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 52px;
}
#card-detail-form {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 1rem;
}
#card-detail-form h2 {
    font-size: 0.8rem;
    max-width: 100%;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #6c757d;
    align-self: end;
    padding: 0;
    padding-bottom: 5px;
    padding-left: 2px;
    margin: 0;
    justify-self: start;
    display: inline;
}
#card-detail-form input {
    font-size: 0.9rem;
    justify-self: start;
    letter-spacing: 1px;
    height: 30px;
    background: none;
    border-bottom: 1px solid #495057 !important;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    font-weight: 600;
}
#card-detail-form input::placeholder {
    color: white;
}
#name-label {
    grid-area: 1 / 1 / 2 / 4;
}
#cnam {
    grid-area: 2 / 1 / 3 / 4;
}
#number-label {
    grid-area: 3 / 1 / 4 / 4;
}
#cnum {
    grid-area: 4 / 1 / 5 / 4;
}
#date-label {
    grid-area: 5 / 1 / 6 / 3;
}
#m {
    grid-area: 6 / 1 / 7 / 2;
    padding-right: 5px;
}
#y {
    grid-area: 6 / 2 / 7 / 3;
    padding-left: 5px;
}
#cvv-label {
    grid-area: 5 / 3 / 6 / 4;
    padding-left: 20px !important;
}
#c {
    grid-area: 6 / 3 / 7 / 4;
    padding-left: 20px;
}
#input-span {
    display: block;
}
#finish-checkout {
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #00a6fb;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    grid-row: 4 / 5;
}
#card-type {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #6c757d;
}






